h1 {
    text-align: center;
    font-family: "Bookman Old Style";
    color: #010101;
}
p {
    text-align: center;
    color: #010101;
}

body {
    background-color: #EEEEF0;
}

#treeimage {
    width: 50%;
    height: 500px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}