h1 {
    text-align: center;
    font-family: "Bookman Old Style";
    color: #F2EEEB;
}
p {
    text-align: center;
    color: #F2EEEB;
}

body {
    background-color: #595456;
}

#treeimage {
    max-width: 50%;
    border-radius: 8px;
}